dist: trusty
sudo: false
language: node_js
node_js:
  - "lts/*"

env:
  global:
    - BUILD_TIMEOUT=10000
before_install:
  - npm i -g npm@latest
install:
  - npm ci
jobs:
  include:
    - stage: build & deploy
      before_deploy:
      - npm run build-storybook
      - rm -rf docs && mv storybook-static docs
      deploy:
        provider: pages
        skip-cleanup: true
        github-token: $GITHUB_TOKEN
        keep-history: true
        on:
          branch: master
